name: MLOps CI/CD Pipeline

on: 
  push:
    branches:
      - main
    paths-ignore:
      - 'REAME.md'
      - '.github/workflows/**' 
      - 'docs/**'              
      - '.gitignore'
      - '.dockerignore'

jobs:
  Continuous-Integration:
   runs-on: ubuntu-latest
   steps:
     - name: 1. Check out code
       uses: actions/checkout@v3
     - name: 2. Setup python 3.11
       uses: actions/setup-python@v4
       with:
         python-version: '3.11'
     - name: 3. Install Dependencies
       run: |
         pip install -r requirements.txt
         pip install pytest
     - name: 4. Run Pytest
       env:
         SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
         SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
         MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}

       run: |
         pytest test_pipeline.py -v
  Continuous-Delivery:
    needs: Continuous-Integration
    runs-on: ubuntu-latest
    steps:
      - name: 1. Check out code
        uses: actions/checkout@v3
      - name: 2. Login to Docker Hub
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_TOKEN}}
      - name: 3. Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: | 
            ${{ secrets.DOCKERHUB_USERNAME}}/cali-housing-app:latest
            ${{ secrets.DOCKERHUB_USERNAME}}/cali-housing-app:${{ github.sha }}
          
