name: MLOps CI/CD Pipeline

on: 
  push:
    branches:
      - main
    paths-ignore:
      - 'REAME.md'
      - '.github/workflows/**' 
      - 'docs/**'              
      - '.gitignore'
      - '.dockerignore'

jobs:
  Continuous-Integration:
   runs-on: ubuntu-latest
   steps:
     - name: 1. Check out code
       uses: actions/checkout@v3
     - name: 2. Setup python 3.11
       uses: actions/setup-python@v4
       with:
         python-version: '3.11'
     - name: 3. Install Dependencies
       run: |
         pip install -r requirements.txt
         pip install pytest
     - name: 4. Run Pytest
       env:
         SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
         SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
         MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}

       run: |
         pytest test_pipeline.py -v
  Docker-Packaging:
    needs: Continuous-Integration
    runs-on: ubuntu-latest
    steps:
      - name: 1. Check out code
        uses: actions/checkout@v3
      - name: 2. Login to Docker Hub
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_TOKEN}}
      - name: 3. Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: | 
            ${{ secrets.DOCKERHUB_USERNAME}}/cali-housing-app:latest
            ${{ secrets.DOCKERHUB_USERNAME}}/cali-housing-app:${{ github.sha }}
  Infrastructure-Provisioning:
    needs: Docker-Packaging
    runs-on: ubuntu-latest
    outputs:
      ec2_ip: ${{ steps.get_ip.outputs.SERVER_IP}}
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: 1. Check out code
        uses: actions/checkout@v3
      - name: 2. Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: us-east-1
      - name: 3. Setup terraform
        uses: hashicorp/setup-terraform@v2
        with: 
          terraform_wrapper: False
      - name: 4. Terraform init 
        run: terraform init
      - name: 5. Terraform apply
        run: terraform apply -auto-approve
      - name: 6. Get EC2 IP
        id: get_ip
        run: echo "SERVER_IP=$(terraform output -raw server_public_ip)" >> $GITHUB_OUTPUT
        
  Continuous-Development:
    needs: Infrastructure-Provisioning
    runs-on: ubuntu-latest
    steps:
      - name: 1.SSH into EC2 and Run Docker
        uses: appleboy/ssh-actions@v1.0.3
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        with:
          host: ${{ needs.Infrastructure-Provisioning.outputs.ec2_ip}} 
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY}}
          envs: SUPABASE_URL, SUPABASE_KEY, MLFLOW_TRACKING_URI, MLFLOW_TRACKING_USERNAME, MLFLOW_TRACKING_PASSWORD, DOCKERHUB_USERNAME
          scripts: |
            sudo docker pull $DOCKERHUB_USERNAME/cali-housing-app:latest
            sudo docker stop cali-app || true
            sudo docker rm cali-app || true
            sudo docker run -d -p 5000:5000 --name cali-app \
              -e SUPABASE_URL=$SUPABASE_URL \
              -e SUPABASE_KEY=$SUPABASE_KEY \
              -e MLFLOW_TRACKING_URI=$MLFLOW_TRACKING_URI \
              -e MLFLOW_TRACKING_USERNAME=$MLFLOW_TRACKING_USERNAME \
              -e MLFLOW_TRACKING_PASSWORD=$MLFLOW_TRACKING_PASSWORD \
              $DOCKERHUB_USERNAME/cali-housing-app:latest
        
